.tool-bar-wrap {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #44626f;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tool-bar-box {
    display: flex;
    align-items: center;

    .back-btn {
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
    }

    .tool-bar {
      display: flex;
      align-items: center;

      & > li {
        margin-right: 8px;
        cursor: pointer;
        transition: all 0.3s;

        &.active {
          color: #1890ff;
        }

        &.filter-active {
          color: #1890ff;
        }

        &.hr {
          width: 5px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            width: 1px;
            height: 100%;
            background: #44626f;
          }
        }
      }
    }
  }

  .select-file-box {
    border-bottom: none;
    height: initial;
  }
}
