.study-list-container {
  .search-box-wrap {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0 20px;

    .search-group,
    .search-btns {
      display: inline-block;
    }

    .search-btns {
      margin-left: 20px;

      button:first-child {
        margin-right: 10px;
      }
    }
  }

  .table-box {
    margin-top: 15px;
    padding: 0 20px;

    header {
      margin-bottom: 10px;
    }
    .rowClick {
      background: #deffe3 !important;
      td.ant-table-column-sort {
        background: #deffe3 !important;
      }
      &:hover {
        td, &.ant-table-column-sort {
          background: #d4fdd8 !important;
        }
      }
    }
  }



  .export-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
