html, body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  font-size: 12px;
  background: linear-gradient(140deg, transparent, #6bd1fe, #bd34fe);
}

body, div, span, img, code {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}
.page-view {
  width: 100vw;
  height: 100vh;
}
.dicom-view {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-view .layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.page-view .layout-header {
  height: 40px;
}
.page-view .ant-layout-header {
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.page-view .layout-content,
.dicom-view .layout-content {
  flex: 1;
}
.dicom-view .main-content {
  background-color: #ffffff;
  height: 100%;
  padding: 15px;
}
.text-center {
  text-align: center;
}
.ant-menu-submenu.ant-menu-submenu-popup {
  margin-top: -8px;
}
.dicom-view .layout {
  height: 100%;
}
.dicom-view .ant-layout-footer {
  padding: 12px 50px;
}
.top-bar {
  height: 40px;
  color: #74b1be;
  background-color: #001529;
  display: flex;
  -webkit-app-region: drag;
}
.top-logo {
  height: 40px;
  padding: 12px 15px;
}
.top-logo-image {
  height: 100%;
  max-height: 100%;
  display: block;
}
.top-menu-panel {
  flex: 1;
  line-height: 40px;
}

.top-menu .ant-menu-submenu-title,
.top-menu .ant-menu-item{
  height: 40px;
  line-height: 40px;
}
.top-menu-item {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
}
.top-menu-item:hover, .top-menu-item:focus {
  background-color: #7485959e;
}
.top-bar .ant-menu.ant-menu-dark .ant-menu-item-selected, .top-bar .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #7485959e;
}
.top-bar .ant-menu-dark.ant-menu-horizontal >.ant-menu-item:hover {
  background-color: #7485959e;
}
/*** ====top-set-panel== ***/
.top-set-panel {
  padding-right: 10px;
}
.top-set-panel .ant-btn {
  background-color: #001529;
  color: #74b1be;
  -webkit-app-region: no-drag;
}
.top-set-panel .ant-btn-text:hover,
.top-set-panel .ant-btn-text:focus {
  background-color: #001529;
  color: #74b1be;
}
/*** ====page== ***/
/*** ====page-login== ***/
.page-login {
  position: relative;
  height: 100%;
}
.login-content {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translateX(-20%) translateY(-50%);
}
