
.modal-content-wrap {

  margin-top: -24px !important;

  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 6px;
      &::before {
        border-bottom: none;
      }
    }
  }

  .ant-input-search {
    margin-bottom: 12px;
    .ant-btn-primary {
      color: #555;
      border-color: #ccc;
      background: initial;
    }
  }
  mark {
    background-color: yellow;
  }
  .descriptionBox {
    .item {
      margin-bottom: 14px;
      .itemHeader {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      .itemTxt {
        margin-bottom: 4px;
      }
    }
  }
  .descriptionBox, .rawInfoBox {
    overflow-y: scroll;
    max-height: 680px;
  }
  .searchBox  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    //position: fixed;
    .ant-input-affix-wrapper {
      width: 80%;
    }
    .btn {
      width: 8%;
    }
  }
}