.viewer-box {
  width: 100%;
  height: 100%;

  .header-box {
    padding: 0 15px;
    height: 50px;
    border-bottom: 1px solid #44626f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
  }

  .viewer-center-box {
    position: relative;
    display: flex;
    height: calc(100% - 50px);
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .error-tips {
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 35px;
    background: #000000;
    color: #fff;
    z-index: 9;
  }
}